DJANGO_SECRET_KEY=change-me
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1

DB_NAME=kontlab
DB_USER=kontlab
DB_PASSWORD=kontlab
DB_HOST=localhost
DB_PORT=5432

GARAGE_ENDPOINT=http://localhost:9000
GAREA_ACCESS_KEY=kontlab
GARAGE_SECRET_KEY=kontlab-secret
GARAGE_REGION=auto
GARAGE_BUCKET_TMP=tmp-uploads
GARAGE_BUCKET_PERM=documents-permanents
